body,td,p {
  font-family: verdana,sans-serif;
  font-size: 14pt;
  border-top-width: 0;
  border-left-width: 0
}

h1 {
  font-size: 18pt;
  font-weight: normal;
  display: inline
}

.h1 {
  font-family: tahoma,verdana,times,serif;
  font-size: 14pt;
  font-weight:;
  color: black
}

.pgTitle {
  font-family: verdana,times,serif;
  font-weight: bold;
}

select,input {
  font-family: verdana,sans-serif;
  font-size: 7pt;
  text-align: center
}

.weekSelect {
  font-family: verdana,sans-serif;
  font-size: 8pt;
  text-align: left;
}

.box {
  font-family: verdana,sans-serif;
  font-size: 7pt;
  text-align: center;
  border-width: 1;
  border-color: black;
  cursor: hand;
}

.title {
  color: black;
  font-weight: bold;
  text-align: center;
  cursor: hand
}

.title:hover {
  color: slategray
}

.list {
  cursor: hand
}

.button {
  width: 100;
  font-weight: bold;
  font-size: 7pt;
  font-family: verdana,sans-serif
}

.black {
  color: black
}

.black:hover {
  background-color: #eeeeee
}

a {
  color: slateGray;
  text-decoration: none
}

a:hover {
  color: black;
}

.white {
  color: white
}

.white3 {
  font-size: 14pt;
}

h3,h4 {
  display: inline
}

.mid {
  font-size: 10pt;
  font-weight: bold;
  height: 30;
}

.mid2 {
  font-size: 10pt;
}

.sm {
  font-family: verdana,sans-serif;
  font-size: 7pt
}

.sm2 {
  font-size: 8pt
}

.sm3 {
  font-size: 7pt;
  color: slateGray;
}

#home-leader-board td {
  padding: 0.2em;
}