
































<script language="JavaScript">if(this!=top)	top.location="."</script>

<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">










<html>
<head>

<title>HPDP Pool Comp - Players' Ladder</title>
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<script language="JavaScript">
W3C = (document.getElementById) ? 1 : 0;
IE4 = (document.all && !W3C) ? 1 : 0;
doc=W3C?document.getElementsByTagName('*'):(IE4?document.all:false)
function roll(cell,on,ttl){
	if(!doc) return
	if(ttl)
		cell.style.color=on?"slateGray":"black"
	else
		cell.style.backgroundColor=on?"#eeeeee":"white"
}
function sortBy(f,d,t){
	with(document.forms[0]){
		sortfield.value=f;
		dir.value=d;
		type.value=t;
		submit()
	}
//	location="ladder.cfm?sort="+field+"&dir="+dir+"&type="+type+"&20101894918"
}
</script>
</head>
<body topmargin="2" >

<table border=0 cellspacing=0 cellpadding=0>
<tr>
<td rowspan=32 nowrap valign="top"><a href="." class="h1">HPDP&nbsp;<br>Pool Comp<br>2016</a>
<p>
<b class="pgTitle">Ladder</b>

<br><br><br>
<br><br>

<div class="sm2">
<a href="npc">nick power</a><br>

<!-- page content removed for now -->

</td></tr>
</table>

<br><br><br><br>

</body>
</html>
