<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HPDP Pool Comp - Players' Ladder</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <script language="JavaScript">
      W3C = (document.getElementById) ? 1 : 0;
      IE4 = (document.all && !W3C) ? 1 : 0;
      doc=W3C?document.getElementsByTagName('*'):(IE4?document.all:false)
      function roll(cell,on,ttl){
        if(!doc) return
        if(ttl)
          cell.style.color=on?"slateGray":"black"
        else
          cell.style.backgroundColor=on?"#eeeeee":"white"
      }
      function sortBy(f,d,t){
        with(document.forms[0]){
          sortfield.value=f;
          dir.value=d;
          type.value=t;
          submit()
        }
      }
    </script>
  </head>
  <body topmargin="2" >
    <table border=0 cellspacing=0 cellpadding=0>
      <tr>
        <td rowspan=32 nowrap valign="top">
          <a href="../" class="h1">HPDP&nbsp;<br>Pool Comp<br>{{ page.year }}</a>
          <p>
            <b class="pgTitle">Ladder</b>
            <br><br><br><br><br>
            <div class="sm2">
            <a href="npc">nick power</a><br>
            </div>
          </p>
          <!-- page content removed for now -->
        </td>
      </tr>
    </table>

    <br><br><br><br>
  </body>
</html>
